@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    font-family: "ubuntumono";
}

@layer base {
    @font-face {
        font-family: "ubuntumono";
        font-style: normal;
        font-weight: normal;
        font-display: swap;
        src: url(./assets/fonts/UbuntuMono-Bold.ttf) format("truetype");
    }
}
