@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "ubuntumono";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(./assets/fonts/UbuntuMono-Bold.ttf) format("truetype");
  }
}
